.App {
  text-align: center;
  font-size: 16px;
}

.App-header {
  margin-top: 20px;
  font-size: 40px;
}

.App-link {
  color: #61dafb;
}

img { 
  max-width: 250px;
  align-items: center;
}

.product-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.product-card {
  width: 350px;
}

li {
  list-style: none;
}


.category-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

}

.category-item {
  padding: 10px;
  margin: 5px;
}

button {
  border: none;
  padding: 10px;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
}

.active {
  background-color: #b9c1c7;
  color: #fff;
}
